<header>
  <div>
    <img src="../assets/icons8-parte-traseira-de-cartão-de-banco-50.png" alt="">
    <h1>Business Card!</h1>
  </div>
</header>

<main>
  <form #form="ngForm" (ngSubmit)="submitForm(form)" [formGroup]="formData">
    <mat-card>
      <mat-card-header>Dados pessoais</mat-card-header>
  
      <mat-card-content formGroupName="dados">
        <mat-form-field class="example-full-width capitalize" appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" placeholder="Digite o seu nome" value="João Lopes">
        </mat-form-field>
  
        <div class="grid-template">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Idade</mat-label>
            <input matInput formControlName="idade" placeholder="Digite a sua idade" value="20" maxlength="3">
          </mat-form-field>
    
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" placeholder="Digite o seu telefone" value="980319583">
          </mat-form-field>
        </div>
  
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Digite o seu email" value="joaovlopesmartins@gmail.com">
        </mat-form-field>
        
      </mat-card-content>
  
      <mat-card-header>Endereco</mat-card-header>
  
      <mat-card-content formGroupName="endereco">
        <mat-form-field class="example-full-width capitalize" appearance="outline">
          <mat-label>Endereco</mat-label>
          <input matInput formControlName="endereco" placeholder="Digite o seu endereco" value="Rua 7004">
        </mat-form-field>
    
        <div class="grid-template">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Numero</mat-label>
            <input matInput formControlName="numeroEndereco" placeholder="Digite o numero do seu endereco" value="90">
          </mat-form-field>
      
          <mat-form-field class="example-full-width capitalize" appearance="outline">
            <mat-label>Bairro</mat-label>
            <input matInput formControlName="bairro" placeholder="Digite o seu bairro" value="Restinga">
          </mat-form-field>
        </div>
    
        <mat-form-field class="example-full-width capitalize" appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="cidade" placeholder="Digite a sua cidade" value="Porto Alegre">
        </mat-form-field>
  
        <button mat-raised-button [disabled]="!form.valid" type="submit" color="primary">Atualizar informacões</button>
      </mat-card-content>
      
    </mat-card>

  </form>

  <form #formColors="ngForm" (ngSubmit)="submitForm(formColors)" [formGroup]="formLayout">
    <mat-card>
      <mat-card-content formGroupName="layoutCard">
        <div id="futureCard" class="futureCard">
          <div id="iconAndName" class="iconAndName">
            <span id="changeIconColor" class="material-symbols-outlined">
              {{ formLayout.value.layoutCard.styleIcon }}
            </span>

            <p class="capitalize" id="changeColorFontName">{{formData.value.dados.nome}}</p>
          </div>

          <div class="allInformation">
            <p class="changeTextDataColor">
              <span class="material-symbols-outlined changeIconDataColor">
                calendar_month
              </span>
              {{formData.value.dados.idade}}
              {{ formData.value.dados.idade ? 'anos' : ''}} 
            </p>
            <p class="changeTextDataColor">
              <span class="material-symbols-outlined changeIconDataColor">
                call
              </span>
              {{formData.value.dados.telefone}}
            </p>
            <p class="changeTextDataColor">
              <span class="material-symbols-outlined changeIconDataColor">
                alternate_email
              </span>
              {{formData.value.dados.email}}
            </p>
            <p class="changeTextDataColor capitalize">
              <span class="material-symbols-outlined changeIconDataColor">
                house
              </span>
              {{formData.value.endereco.endereco}}
              {{ formData.value.endereco.endereco && formData.value.endereco.numeroEndereco ? ',' : ''}} 
              {{formData.value.endereco.numeroEndereco}}
            </p>
            <p class="changeTextDataColor capitalize">
              <span class="material-symbols-outlined changeIconDataColor">
                distance
              </span>
              {{formData.value.endereco.cidade}}
              {{ formData.value.endereco.cidade && formData.value.endereco.bairro ? ',' : ''}} 
              {{formData.value.endereco.bairro}}
            </p>
          </div>
        </div>
  
        <div class="div-colors">
          <mat-card-header>Cores do Cartão</mat-card-header> 

          <div class="div-template-coluns">
            <mat-form-field class="example-full-width capitalize" appearance="outline">
              <mat-label>Cor Principal</mat-label>
              <input matInput formControlName="corPrincipal" type="color" placeholder="Digite o seu nome" value="">
            </mat-form-field>
      
            <mat-form-field class="example-full-width capitalize" appearance="outline">
              <mat-label>Cor de fundo</mat-label>
              <input matInput formControlName="background" type="color" placeholder="Digite o seu nome" value="">
            </mat-form-field>
          </div>

          <mat-card-header>Cor dos icones e dos dados</mat-card-header>

          <div class="div-template-coluns">
            <mat-form-field class="example-full-width capitalize" appearance="outline">
              <mat-label>Cor dos icones</mat-label>
              <input matInput formControlName="iconDataColor" type="color" placeholder="Digite o seu nome" value="">
            </mat-form-field>
      
            <mat-form-field class="example-full-width capitalize" appearance="outline">
              <mat-label>Cor dos dados</mat-label>
              <input matInput formControlName="textDataColor" type="color" placeholder="Digite o seu nome" value="">
            </mat-form-field>
          </div>


          <mat-card-header>Estilo e cor do nome</mat-card-header> 

          <div class="div-template-coluns">
            <mat-form-field class="mat-input" appearance="outline">
              <mat-label>Estilo da Fonte</mat-label>
              <mat-select formControlName="styleFontName" name="fontStyle">
                <mat-option *ngFor="let style of fontStyle" [value]="style.value">
                  {{style.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

      
            <mat-form-field class="example-full-width capitalize" appearance="outline">
              <mat-label>Cor do nome</mat-label>
              <input matInput formControlName="colorFontName" type="color" placeholder="Digite o seu nome" value="">
            </mat-form-field>
          </div>

          <mat-card-header>Estilo e cor do icone</mat-card-header>

          <div class="div-template-coluns">
            <mat-form-field class="mat-input" appearance="outline">
              <mat-label>Estilo do Icone</mat-label>
              <mat-select formControlName="styleIcon" name="iconStyle">
                <mat-option *ngFor="let style of iconStyle" [value]="style.value">
                  {{style.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      
            <mat-form-field class="example-full-width capitalize" appearance="outline">
              <mat-label>Cor do icone</mat-label>
              <input matInput formControlName="colorIcon" type="color" placeholder="Digite o seu nome" value="">
            </mat-form-field>
          </div>

        </div>
  
        <button mat-raised-button (click)="changeColor()" color="primary">Atualizar layout</button>
      </mat-card-content>
    </mat-card>
  </form>

</main>

