// $primary-color: #771391;
$primary-color: #00b764;

// $secondary-color: #eb908d;
$secondary-color: #70b3d9;

$white: #fff;
$black: #000;
$gray: rgb(240, 242, 245);
$gray-bold: rgb(134, 134, 134);

$font-family-default: 'Ubuntu', monospace;