/* You can add global styles to this file, and also import other style files */
@import "./colors.scss";
@import "./theme.scss";
@import "@angular/material/theming";

@include mat-core();

$my-pallete-primary: mat-palette($primary);
$my-pallete-secondary: mat-palette($secondary);
$my-pallete-warning: mat-palette($warning);

$custom-theme: mat-light-theme($my-pallete-primary, $my-pallete-secondary, $my-pallete-warning);

@include angular-material-theme($custom-theme);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

body {
    background-color: $gray;
    color: $black;
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: $font-family-default;
    font-weight: 400;
    font-size: 1rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
