$primary: (
    50 : #e0f6ec,
    100 : #b3e9d1,
    200 : #80dbb2,
    300 : #4dcd93,
    400 : #26c27b,
    500 : #00b764,
    600 : #00b05c,
    700 : #00a752,
    800 : #009f48,
    900 : #009036,
    A100 : #bcffd0,
    A200 : #89ffac,
    A400 : #56ff88,
    A700 : #3cff76,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$secondary: (
    50 : #e0ebf1,
    100 : #b3cddd,
    200 : #80abc7,
    300 : #4d89b0,
    400 : #26709f,
    500 : #00578e,
    600 : #004f86,
    700 : #00467b,
    800 : #003c71,
    900 : #002c5f,
    A100 : #90b9ff,
    A200 : #5d98ff,
    A400 : #2a78ff,
    A700 : #1068ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$warning: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);